<html>
    <head>
        <title>DoKyoung's blog</title>
    </head>
    <body>
        <h1>★축 500일★</h1>
        <img src="love.jpg" alt="My Image">
        <p>여보 안녕! 여보가 떨어져있는 지금 이 순간마저 너무 보고싶고 그리운건 아마 내가 여보를 아직 너무 사랑하니깐 그러는 거겠지?! 여보와 사귄지는 500일이 됬고
            알게된 시간만 따지면 500일이 더 넘는 시간동안 여보와 함께 했는데 그동안 힘들었던 것들도 있었지만 다 서로 잘 노력해서 잘 맞춰나가고 해서 지금은 온통 좋았던 기억들만 가득해 ㅎㅎㅎ 여보가 내 곁에서 항상 힘이 되어줘서 너무 행복했어!</p>

        <p>매일 매일 살아있음에 감사했고 내곁에 날 너무 많이 사랑해주는 사람이 있고 나도 그사람을 너무 많이 사랑해서 사랑한다고 표현할 수 있음에
        너무 감사하고 행복했어 여보는 몰랐겠지만 ㅎㅎ 여보 너무너무 고마워 진짜 고마운것만 모아모아 말하면
        일주일 내내 말할 수 있어! ㅋㅋ 그만큼 여보가 나에게 너무너무 소중해 ㅎㅎ 500일이라는 긴 시간이 너무 짧게 느껴질 만큼 나에게
        너무나도 잘해줬던 윤아. 너무너무 사랑해 이런 내 마음이 너에게 부담이 되진 않았으면 해.. 그냥 내가 너의 곁에서 슬플때나 기쁠때나 항상 힘이 되어주고 힘들때는 조용히 안아주며 내 어깨를 내어 주는 그런 사람으로 너의 곁에 쭉 있고 싶어 </p>
        <p>나에게 너무나도 과분한 윤아 사랑해! 항상 너무 고맙고 감사해! 편지를 주고 싶은데 오늘 당장 줄 수 없어서 이렇게 남겨
        카톡말고 뭔가 색다른게 없을까 했는데 ㅋㅋ 이렇게 방법을 찾았어! 잘해찌?헤헿 보고싶다! 망고도 여보를 엄청 기다려요! 우리가 여보를 기다리지만 그건
        여보가 빨리 왔으면 하는 마음보단 보고싶어서야~ 그니깐 집에 가있는 동안 푹 쉬고 오래오래 가족들이랑 시간도 보내다가 왔으면 좋겠어!
        너무너무 보고싶다 윤아. 사랑해 ㅎㅎ </p>
        <p>2020/01/21</p>
        <p>윤이를 너무너무 사랑하는 도경이가 </p>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </body>
</html>